/*  ----------css-demo------------------------   */
/*--------------responsive images------------*/
img{
  max-width: 100%
}
/*--------------responsive images------------*/
/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /* utility classes*/
.container{
  width:80vw;
  max-width:960px;
  margin: 40px auto;
}
.img-right{
  float:right;
  padding:30px ;
  border:1px 0 0 0;
  margin: 15px 0 15px 30px;
}

.img-left{
  float: left;
  padding:30px ;
  border:1px 0 0 0;
  margin: 15px 0 15px 30px;
}
  .img-center{
    display:block;
    margin: 20px auto;
    border:1px solid #cccccc;
    padding:5px;
    border-radius:40px;
  }



  /* utility classes*/
body{

    background-color:rgb(26, 255, 68);
    margin:antiquewhite;
  }

Main{ 
}

Header.primary{
    background-color:rgb(77, 77, 178);

background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='39C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

    color: #ffffff;

    text-allign: center;

    text-shadow:1px 1px #000000;
    
    /*long form*/
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 70px;
    padding-left: 15px;
    /* one value is for all sides of the box */
    padding: 40px;
    /* T,R,B,L */
    padding: 20px 40px 20px 40px;
    /* Two Value Top/Bottom / L/R */
  padding: 20px 40px;
}



header.primary h1{
 font-size:2rem;
 margin:15px 0px;

}
header.primary h1 a{
  color:crimson;
  text-decoration:none;
  /* top | left and right | bottom */
margin: 20px 0 0;
}
header.primary h2{
  font-size:1rem;
  margin:0;
}


header.primary nav {}
header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding:10px 0;
}
header.primary nav ul li{
  list-style-type:none;
}
header.primary nav ul li a{
  color:#b41515;
  text-decoration:none;
  border:2px solid #c0c0c0;
  padding:4px 8px;
  background-color: rgba(0,0,0, .4);
  border-radius:20px 5px;
  transition:.8s;
}
header.primary nav ul li a:hover{
  background-color: rgba(0,0,0, 1);
}

#content{
  line: hieght 1.4em;
}
#content h2{
 color:rgb(77, 77, 178);
 border-bottom: 1px solid rebeccapurple;
}



#blog{
  display:flex;
  justify-content:space-around;
  flex-direction:row;
  gap:15px;
  border-top: 1px solid #000000;
  border-bottom:1px solid #000000;
  PADDING:40px 0 40px 0;
}


#blog article.post{
 box-shadow: 0px 20px 36px 2px rgba(0,0,0,.5); 
 border-radius: 12px 15px 12px ;
 font-size: .8rem
}

#blog figure{
  margin:0px;
}

#blog figcaption{
text-transform: uppercase;
}

#practice h2{
  color: blueviolet
}
#practice a{
  color: blueviolet;

}

#practice a:hover{
text-decoration: none;
}

#practice h3{
  border-left: 3px solid #cccccc;
  padding-left: 12px;
  padding:5px 6px 5px 12px;
  border-radius: 15px';
}
table{
  width:100%;
  border: 1px solid #000000;
  border-collapse: collapse ; 
  
}
  


caption{
  font-weight: bold;
  margin: 10px;}

thead{}
tr:nth-child(even){
background-color: #f43d3d
}
tr:hover{
  background-color: rgba(0,0,0,.5);
}
th{
  background-color: #172635;
  color:#f43d3d;
  padding:7.5px;}

td{ border: 1px solid #2b7f8e;
  padding:5px;}
 
  td:nth-child(n+2){
    text-align:right;
  } 
aside[role="complementary"]{
  background-color: aquamarine ;
padding: 40px 0;
color: #000000 ;
}
#practice ol{
list-style-type: lower-roman;
}
#practice ul li ul{
  list-style-type: georgian;
}
#praxtice dl dt{
font-weight: bold;
}

dl dd{
  margin: 12px
}

dd+dt{
  margin-top:15px;
  color:#f43d3d
}

aside .container{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap: 90px;;
}

aside article.widget a{
display:block;
margin-top: 20px;
text-align:right;
  color: floralwhite;
  aside article.widget a:last-child{
    display:block;
    margin-top: 20px;
    text-align:right;
      color: floralwhite;
}
aside article.widget footer{
  display:none;}
  

/*Media quries*/
@media screen and (max-width:400px){
  header.primary nav ul{
    flex-direction:column;
    gap:20px;
    max-width:200px;
    margin:0 auto;}
    #blog{
      flex-direction: column; }

    }
header.primary nav a{
  display:block}